@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	transition-property: background-color, border-color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

@layer components {
	.header {
		@apply text-black dark:text-offWhite-100 p-5 flex justify-between items-center;
	}
	.search {
		@apply w-60 h-12 flex items-center bg-offWhite-100 dark:bg-gray-600 rounded-full flex-1 p-2 mx-5 transition-all duration-300;
	}
	.search:focus-within {
		@apply w-64 h-16;
	}
	.search-input {
		@apply border-none p-2 outline-none bg-transparent flex-1;
	}
	.misc {
		@apply flex dark:text-gray-300 justify-evenly;
	}
	.misc-item {
		@apply mx-3 cursor-pointer hover:text-offWhite-100;
	}
	.theme-switch {
		@apply bg-offWhite-100 dark:bg-gray-600 rounded-3xl h-12 w-12 flex items-center justify-center mx-6 cursor-pointer;
	}
	.login-button {
		@apply bg-gradient-to-r from-green-300 to-cyan-400 h-12 w-28 rounded-3xl flex justify-center items-center mx-3 text-black cursor-pointer;
	}
	.card-list {
		@apply flex overflow-scroll my-5;
	}
	.card-list::-webkit-scrollbar {
		@apply hidden;
	}
}
